@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
  user-select: none;
}

/* a:hover {
  color: #00ff7b;
  cursor: pointer !important;
} */

.minecraft {
  font-family: "Minecraft" !important;
}

html,
body {
  overflow-x: hidden;
}

@keyframes rubberBand {
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.preloader1 {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.preloader1-animation {
  animation: rubberBand 1.2s cubic-bezier(0.04, 1.02, 0.37, 0.99) forwards;
}

.preloader2-animation {
  animation: rubberBand 1.5s cubic-bezier(0.04, 1.02, 0.37, 0.99) forwards;
}

.preloader2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation-delay: 0.1s;
  z-index: 9;
}

.cursorscale {
  transform: scale(6) !important;
  mix-blend-mode: lighten;
}
